<div class="box-content">
  <div class="image-view">
    <img [src]="zImageBoxUrl">
  </div>
  <div class="show-popup">
    <button #btnShowPopup class="btn btn-primary">
      <i class="fa-solid fa-angle-down" ></i>
    </button>
    <wj-popup #ImagePopup class="popover"
        [owner]="btnShowPopup"
        [showTrigger]="'Click'"
        [hideTrigger]="'Blur'"
        [isResizable]="true">
      <div class="image-upload">
        <app-image-popup [zImagePopupUrl]="zImageBoxUrl" (imageOutput)="getImageUrl($event)"></app-image-popup>
      </div>
    </wj-popup>
  </div>
</div>
