.header {
  display: flex;
  justify-content: space-between;
}

.wj-flexgrid {
  max-height: 90vh;
}

:host >>> .wj-cell.unit-bang {
  background-color: hsl(0, 100%, 90%);
}

:host >>> .wj-cell.unit-cai {
  background-color: hsl(45, 100%, 90%);
}

:host >>> .wj-cell.unit-chuyen {
  background-color: hsl(105, 100%, 90%);
}

:host >>> .wj-cell.unit-pcs {
  background-color: hsl(175, 100%, 90%);
}

:host >>> .wj-cell.unit-chiec {
  background-color: hsl(245, 100%, 90%);
}

:host >>> .wj-cell.unit-lon {
  background-color: hsl(290, 100%, 90%);
}

:host >>> .wj-cell.unit-bo {
  background-color: hsl(325, 100%, 90%);
}

:host >>> .wj-marquee {
  transition: all 0.5s;
  background-color: rgba(53, 231, 255, 0.2);
}
