.header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wj-flexgrid {
  max-height: calc(100vh - 227px);
}

:host >>> .wj-cell.wj-header .wj-sort-index {
  display: none;
}

:host >>> .wj-cell.unit-tuyp {
  background-color: hsl(0, 100%, 90%);
}

:host >>> .wj-cell.unit-cai {
  background-color: hsl(45, 100%, 90%);
}

:host >>> .wj-cell.unit-lo {
  background-color: hsl(105, 100%, 90%);
}

:host >>> .wj-cell.unit-pcs {
  background-color: hsl(175, 100%, 90%);
}

:host >>> .wj-cell.unit-chiec {
  background-color: hsl(245, 100%, 90%);
}

:host >>> .wj-cell.unit-chai {
  background-color: hsl(290, 100%, 90%);
}

:host >>> .wj-cell.unit-bo {
  background-color: hsl(325, 100%, 90%);
}

:host >>> .wj-marquee {
  transition: all 0.5s;
  background-color: rgba(53, 231, 255, 0.2);
}
