<div class="main-content">
  <div class="checklist">
    <form [formGroup]="form">
      <div class="trading">
        <app-checklist-control formControlName="Trading" [checkLists]="tradingCheckList"
          ngDefaultControl></app-checklist-control>
      </div>
      <div class="rating">
        <app-checklist-control formControlName="Rating" [checkLists]="ratingCheckList"
          ngDefaultControl></app-checklist-control>
      </div>
    </form>
  </div>
  <div class="output">
    {{form.value | json}}
  </div>
</div>
