<div class="main-content">
  <div class="image-view">
    <img [src]="url">
  </div>
  <div class="show-popup">
    <button #btnShowPopup class="btn btn-primary">
      <i class="fa-solid fa-angle-down" ></i>
    </button>
    <wj-popup #ImagePopup class="popover"
        [owner]="btnShowPopup"
        [showTrigger]="'Click'"
        [hideTrigger]="'Blur'"
        [isResizable]="true">
      <div class="image-upload">
        <app-image-upload (imageOutput)="getImageUrl($event)"></app-image-upload>
      </div>
    </wj-popup>
  </div>
</div>
<div class="image-encode">
  <div class="image-url">{{urlCopy}}</div>
  <div class="encode-button">
    <button (click)="convertBase64ToUint8Array(urlCopy)">Uint8Array</button><br>
    <button (click)="converUint8ArrayToBase64()">Base64</button>
  </div>
</div>
