.image-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type=file] {
  display: none;
}

.option {
  display: flex;
  flex-wrap: nowrap;
}

.option-list {
  margin: 0;
  padding: 0;
  height: 30px;
}

.option-list li {
  display: inline-block;
  vertical-align: middle;
}

.option-list .border-left-solid {
  border-left: 1px solid #ccc;
  margin: 5px;
}
