<div class="checklist-control">
  <ul style="padding: 0">
    <li>
      <input #checkList type="checkbox" id="CheckListType"
          [class.input-one-option]="bAllowSelectMultiValue"
          (change)="onSelectAll($event)"
          [(ngModel)]="viewCheckList.checked"
          [checked]="viewCheckList.checked">
      <label for="CheckListType" [class.label-one-option]="bAllowSelectMultiValue">{{zCheckListType}}</label>
      <ul class="list-option">
        <li *ngFor="let control of controls">
          <input type="checkbox" id="control.value" [value]="control.value"
              *ngIf="!bAllowSelectMultiValue"
              [(ngModel)]="control.isSelected"
              (change)="onSelectOption($event)">
          <input type="checkbox" id="control.value" [value]="control.value"
              *ngIf="bAllowSelectMultiValue"
              [(ngModel)]="control.isSelected"
              (change)="onSelectOnlyOneOption($event)">
          <label for="control.value">{{control.text}}</label>
        </li>
      </ul>
    </li>
  </ul>
</div>
