<div class="checklist-control" >
  <div class="checkbox-appearance" [ngStyle]="{'display': (checkAppearance == 0) ? '' : 'none'}">
    <ul style="padding: 0">
      <li>
        <input #checkList type="checkbox"
            (change)="onSelectAll($event)"
            [(ngModel)]="viewCheckList.checked"
            [checked]="viewCheckList.checked"
            [disabled]="readOnly || !bAllowSelectMultiValue">
        <label>{{zText}}</label>
        <ul #option class="list-option">
          <li *ngFor="let control of controls">
            <input type="checkbox" *ngIf="bAllowSelectMultiValue"
                [value]="control.value"
                [(ngModel)]="control.checked"
                (change)="onSelectOption($event)"
                [checked]="control.checked"
                [disabled]="readOnly">
            <input type="checkbox" *ngIf="!bAllowSelectMultiValue"
                [value]="control.value"
                [(ngModel)]="control.checked"
                (change)="onSelectOnlyOneOption($event)"
                [checked]="control.checked"
                [disabled]="readOnly">
            <label>{{control.text}}</label>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="button-appearance" *ngIf="checkAppearance == 1">
    <div *ngFor="let control of controls" (click)="onSelectTime($event)">
      <button class="btn-select" [value]="control.value">{{control.text}}</button>
    </div>
  </div>
</div>
